.wraper{
    display: flex;
    flex-direction: column;
    position: relative;
    top:-40px ;
    height: 100%;
    min-width: 960px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    z-index: 990;
}
.lift_line{
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    min-width: 960px;
}


hr{
    width: 96%;
    position: relative;
    left: 0px;
    flex-shrink: 1;
    top: 7px
}
.compani__new{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 10px;
    max-width: 1920px;
    min-width: 960px;
    margin-bottom: 0px;
}
.company {
    display:flex;
    flex-flow: column wrap;
    position: relative;
    background:#f4f5f7;
    min-height:220px;
    min-width:400px ;
    max-width:1600px ;
    top:530px;
    left:30px ;
    margin-bottom: 30px;
    margin-right: 30px
    }
.company1{
    min-width:300px ;
    position: relative;
    margin: 40px 130px 40px 30px;
}
.company p {
    min-width:300px ;
    top:35px ;
    left:35px ;
    font-size:9px ;
    float: left;
    margin-right:200px;
    
    
}
.logo {
    float: right;
    position:absolute;
    top:27%;
    right:5% ;
    background: url(./images/horse3.png) no-repeat;
    width:200px;
    height:101px;
    margin-left: 50px;
    }

.news{
    position: relative;
   top: 500px;
    margin-left: 30px;
    margin-right: 30px;
}
.news1{
    position:relative;
    width:220px ;
    height:63px ;
    background:url("./images/o2+.png") no-repeat;
    z-index:4 ;
    color: aliceblue;
    font-size:25px;
    font-weight:lighter;
    padding-left:6px;
    padding-top:5px;
    line-height:1;
}
.news2{
    position:absolute;
    bottom:70px;
    width:220px;
    height:66px;
    background:url("./images/oo12.png") no-repeat;
    z-index:14;
}
.news12{
    font-size:11px; 
    margin:10px 5px 5px;
}
.green{
    color:#4c6828;
    font-size:40px ;
}
.year {
    font-size:15px ;
    color:gray;
}
.fresh{
    position: relative;
    height:420px;
    width: 220px;
    }
.more{
    float: right;
    color:#4c6828;
    font-size:10px ;
    margin: 5px;
    
}
.arh{
    float:right;
    color:#4c6828;
    font-size: 10px;
    margin: 5px 0px 5px 70px;
    width:100px;
} 
.archive{
    margin-right: 7px;
    float: left;
    background: url("./images/archive.png")no-repeat;
    height: 9px;
    width: 9px;
}
.nom78{
    margin-top:20px;
    margin-left:30px;
}
.nom1{
    margin-right: 6px;
    font-size:14px ;
    color: rgba(129, 255, 4, 0.47);
}
.nom2{
    font-size:25свеьpx;
    color: aliceblue;
}
.line1{
    display: block;
    position:relative;
    top:319px ;
    right:880px ;
}
.line2{
    position:relative;
    bottom:112px ;
    right:640px ;
}
.line3{
    position:relative;
    top:311px;
    right: 640px;
}
.lift{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-flow:row;
    align-content:space-around;
    align-items:flex-start;
    position:relative;
   top:300px ;
    min-width:960px;
    max-width:1600px ;
    font-size:12px;
    margin-right:30px;
    margin-bottom: 3px;
      }
.lift_revers{
    flex-direction: row-reverse
}
.left{
    min-width:100px;
    min-height:300px ;
    margin-left:30px ;
    max-width:1100px;
    flex-shrink:0.5;
    flex-shrink:1;
}
.right{
    min-width:100px ;
    min-height:300px;
    width:570px;
    margin-left:40px;
    flex-shrink:0;
    }

    .photo123{
        margin-left:30px;
        margin-top:12px ;
        width:460px;
        min-height:222px;
       display: flex;
        flex-flow: row;
        justify-content:center;
    }
    .photo234{
        margin-top:15px;
        margin-left:30px ;
        width: 460px;
        display: flex;
        flex-flow: row;
        justify-content:center;
        
    }
        .photo{
            display: block;
            background:url("./images/photo1.1.jpg") no-repeat ;
            height:324px;
            width:222px;
            float:right;
            margin-bottom: 20px;
        }
        .photo2{
            display: block;
            background:url("./images/photo2.1.jpg") no-repeat ;
            height:324px ;
            width:222px ;
            float:left;
            margin-left:10px;
}
        .photo3{
            display: block;
            background:url("./images/photo3.1.jpg") no-repeat ;
            height:324px;
            width:222px;
            float:left; 
        }
        .photo4{
            display: block;
            background:url("./images/photo4.1.jpg") no-repeat ;
            height:324px;
            width:222px;
            float:right;
            margin-bottom: 10px;
            margin-left:10px;
        }
        .photo5{
            margin-top:10px ;
            margin-left:40px ;
            display: block;
            background:url(./images/photo5.1.jpg)no-repeat ;
            height:316px ;
            width:460px ;
            float:right;
        }
@media screen and (max-width: 1100px){
    .lift_line{}
        position: relative;
    margin-top: 50px;
        
}
.lift{
    margin-top: 80px;
    top:350px ;
      }
hr{
    width: 96%;
    position: relative;
    left: 0px;
    flex-shrink: 1;
    top: 7px
}
.compani__new{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 10px;

    max-width: 1920px;
    min-width: 960px;
    margin-bottom: 90px;
   
}
}