nav{
     position: absolute;
    top:400px ;
    z-index: 999
}
.main-menu {
    min-width: 300px;
    max-width: 1000px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left:50px ;
    padding: 0;
    list-style: none;
}

.main-menu a {
    font-size: 13px;
    display: block;
    padding: 8px 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom:1px dashed #4d6926;
    
}

.main-menu .we:hover {
    background: #4c6828;

}

.main-menu .sub-menu {
    position: absolute;
    display: none;
  
    margin: 0;
    padding: 0;
    padding-right: 30px;
    list-style: none;
    background: #5f9a14 ;
    z-index: 
}
.main-menu .sub-menu a {
    margin-bottom: ;
    min-width: 50px;
    background:#5f9a14 ;
    padding-right:0px;
}

.main-menu > li:hover .sub-menu {
    display: block;
    z-index: 5
}
@media screen and (min-width: 1921px){
    nav{
        z-index: 999;
        width: 100%;
    }
    .main-menu{
       margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 1100px){
    .main-menu {
    min-width: 300px;
    max-width: 1000px;
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    margin-left:50px ;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}
    .we{
    margin-right: 20px
    
}
}
@media screen and (max-device-width: 1100px){
    .main-menu {
    min-width: 300px;
    max-width: 1000px;
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    margin-left:50px ;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}
    .we{
    margin-right: 20px
    
}
}